* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-a {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(207, 156, 184);
}

.back-b {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 22, 23);
    color: #fff;
}

.blog-card {
    width: 75%;
    height: 70%;
    background: #fff;
    display: flex;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.blog-img {
    flex-basis: 60%;
    position: relative;
}

.blog-img img {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
}

.box {
    width: 75%;
    /* height: 50px; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 5%;
    /*32px*/
    left: 0;
    right: 0;
    margin: auto;
}

.date {
    flex-basis: 60%;
}

.date h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 62px;
    color: #808080;
    line-height: 40px;
}

.date h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #808080;
}

.botones {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
}


/*Nota posicionar elementos en el centro con absolute
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
*/

.blog-text {
    flex-basis: 40%;
}

.tag {
    display: flex;
    background: rgb(147, 201, 236);
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 8px;
    margin-left: 24px;
}


/* manipular el radius 
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px; */

.profile {
    width: 25px;
    border-radius: 50%;
}

.tag a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.85);
    margin-left: 6px;
    padding: 8px;
}

hr {
    width: 90%;
    margin: auto;
}

.blog-text h1 {
    padding: 24px;
    /* text-align: center; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: rgb(59, 57, 57);
}

.blog-text p {
    /* font-size: calc(.1em + 1vw); */
    font-size: 13.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 24px;
    line-height: 24px;
    color: rgb(70, 66, 66);
    text-align: justify;
}


/* *** Responsive *** */

@media (max-width: 768px) {
    .blog-card {
        flex-direction: column;
    }
    .blog-text p {
        font-size: 13px;
        padding: 22px;
        line-height: 20px;
    }
}


/* 595 511 375*/

@media (max-width: 710px) {
    .blog-img img {
        height: 85%;
    }
    .box {
        width: 75%;
        height: 50px;
    }
    .date h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .date h3 {
        font-size: 16px;
    }
    .botones {
        font-size: 16px;
    }
    .blog-text h1 {
        font-size: 16px;
        padding: 16px;
    }
    .blog-text p {
        font-size: 12px;
        padding: 24px;
        line-height: 16px;
    }
    /* @media (max-height: 667px) {

        .blog-text h1{
            font-size: 15px;
            padding: 16px;
        }
    
    } */
}


/* *** CONTACT CARD **** */

.contact-card {
    display: flex;
    width: 640px;
    height: 426px;
    background: #808080;
}

.contact-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contact-img img {
    width: 100%;
    height: 100%;
    transition: linear .5s;
}

.contact-card:hover .contact-img img {
    opacity: .8;
    transform: translateX(10%);
}

.contact-details {
    flex-basis: 50%;
    height: 100%;
    display: none;
    color: #000;
    font-size: 42px;
}

.contact-details h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.contact-details h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 8px;
}

.contact-details h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.contact-details li {
    padding: 4px;
    list-style: none;
}

.contact-card:hover .contact-details {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

i:hover {
    color: #3d1a1a;
}